html, body, body > div {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Lobster', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body > div {
  position: relative;
}

.fullscreen-bg {
  background: url(/src/image.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
.black-bg {
  background: black;
  color: white;

}

.App-text {
  position: absolute;
  padding: .4em 1em;
  bottom: 5%;
  right: 5%;
  font-size: 40px;
}